:root {
    color-scheme: light dark;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 180px;
    height: 100px;
    border: 3px solid grey;
    font-family: system-ui;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    padding: 6px;
    gap: 6px;
    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}

.switch{
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid black;
    width: 80px;
    text-align: center;
    padding: 4px 0px; 
}
